@import "tailwindcss";

@theme {
  --color-primary: #0F766E;
  --color-secondary: #FFFFFF;
  --color-accent: #64748B;
}

body {
  background-color: #f8fafc; /* subtle light slate */
  color: #0f172a;
}
